#chowt {
  .actions {
    border-bottom: 1px solid silver;
    padding: 10px 5px;

    & > .actions-container {
      display: flex;
      align-items: center;
      width: 65%;
      margin: auto;

      .back-btn {
        cursor: pointer;
        color: #faebd7;

        &:hover {
          color: #f0dec7;
        }
      }
    }
  }
}
