@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Bungee|Ubuntu');

#root {
  display: flex;

  main {
    flex: 5;
    order: 2;
    height: 100vh;
  }
}

.App {
  display: flex;
  overflow-y: hidden;
}

body {
  background-color: $chowster-red;
}

.fake-link {
  cursor: pointer;
}

.chowster-font {
  font-family: 'Bungee', cursive;
  color: black;
  @include chowster-text-shadow();
}

#welcome {
  margin-top: 25vh;
  margin-bottom: 15px;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: $breakpoint-sm) {
  .hide-on-sm {
    display: none;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .hide-on-md {
    display: none;
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .hide-on-lg {
    display: none;
  }
}

.show-on-xl {
  @media only screen and (max-width: calc(#{$breakpoint-xl} - 1px)) {
    display: none;
  }
}

.flex {
  display: flex;

  .right {
    margin-left: auto;
  }
}

#primary-column {
  order: 1;
  flex: 3;
}

.list-item {
  display: flex;
  border: 1px solid lighten(#111, 10%);
  border-left: none;
  margin-top: -1px;
  padding: 12px;

  .img-container {
    margin-right: 1rem;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;

      @media only screen and (max-width: $breakpoint-sm) {
        width: 35px;
        height: 35px;
      }
    }
  }

  .content-body {
    flex: 4;
  }
}
