@import '../../variables';

#home-page {
  overflow: auto;
  max-height: 100vh;
  flex-basis: 100%;

  .card {
    #chowt {
      margin-bottom: 2rem;
    }

    .list-header {
      text-align: left;
      padding: 0.25rem 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
    }
  }
}
