@import '../../variables';

#home-page {
  overflow: auto;
  max-height: 100vh;

  .card {
    background-color: $chowster-red;
    border: 1.5px solid grey;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    color: white;

    #chowt {
      margin-bottom: 2rem;
    }

    .list-group-item {
      border-right: none;
      border-left: none;
      background-color: $chowster-red;
      border-color: grey;
    }

    .list-header {
      text-align: left;
      padding: 0.25rem 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
    }
  }
}
