@import '../../variables';

#user-page {
  text-align: left;
  color: white;

  .card {
    background-color: $chowster-red;
    border-radius: unset;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }

  .profile-img {
    width: 33%;
    max-width: 135px;
    border-radius: 50%;
  }
}
