@import '../../variables';

#chowt-form {
  color: white;

  #text {
    color: inherit;
    background-color: $chowster-red;
    border: none;
    resize: none;
    width: 80%;
    display: block;
    margin: auto;

    &::placeholder {
      color: white;
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }
  }

  & > .flex {
    align-items: center;

    input[type='checkbox'] {
      margin-top: 0.5rem;
    }
  }
}
