@import '../../variables';

.tab {
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid darken(#111, 10%);

  .tab-link {
    color: white;
    flex-grow: 1;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;

    &:hover {
      background-color: rgba($chowster-red, 0.2);
    }

    &.active {
      border-bottom: 2px solid $chowster-red;
    }
  }
}
