@import '../../variables';

#side-nav {
  flex: 1;
  order: 1;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 20px 10px 0 10px;

  .nav-header > a {
    color: black;

    &:hover {
      @include chowster-text-shadow($chowster-red);
    }
  }

  ul.nav-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: unset;

    .nav-link {
      &.active {
        color: white;

        img {
          border: 1px solid $chowster-red;
        }
      }
    }
  }

  a,
  .fake-link {
    color: #818181;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;

    &:hover {
      color: #f1f1f1;
    }
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  @media only screen and (max-width: $breakpoint-lg) {
    width: 100px;
    text-align: center;
  }
}
