@import '../../variables';

#side-nav {
  order: 1;
  height: 100vh;
  background-color: #111;
  padding: 20px 10px 0 10px;
  text-align: right;

  .nav-header > a {
    color: black;

    &:hover {
      @include chowster-text-shadow(#111);
    }
  }

  ul.nav-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: unset;

    .nav-link {
      &.active {
        color: $chowster-red;

        img {
          border: 3px solid $chowster-red;
        }
      }
    }
  }

  a,
  .fake-link {
    color: #818181;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
      color: $chowster-red;
    }
  }

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;

    &:hover {
      border: 2px solid $chowster-red;
    }
  }

  @media only screen and (max-width: $breakpoint-md) {
    text-align: center;
  }

  @media only screen and (max-width: 1199px) {
    flex: 1;
  }
}
