@import '../../variables';

.tab-content {
  border-top: 1px solid lighten(#111, 10%);
  color: white;
  text-align: left;

  .content-body {
    a {
      font-weight: bolder;
      color: white;
    }
  }
}
